* {
    box-sizing: border-box;
  }
  
  body {
    padding: 0;
    margin: 0;
  }

  .calc {
      width: 113px;
      background-color: black;
      color: white;
  }

  .screen {
      color: white;
      text-align: right;
      font-size: 40px;
      font-family: 'Courier New', Courier, monospace;
      padding: 20px 5px;
  }

  .calcbutton {
      height: 24.5px;
      width: 24.5px;
      background-color: gray;
      color: black;
      padding: 0.5px;
  }

  .doubleButton {
      height: 24.5px;
      width: 53px;
      background-color: gray;
      color: black;
  }

  .tripleButton {
      height: 24.5px;
      width: 81.5px;
      background-color: gray;
      color: black;
      padding-right: 0.5px;
  }

  .buttonSymbol {
      height: 24.5px;
      width: 24.5px;
      padding: 0.5px;
      background-color: orange;
      color: white;
  }

  .calcButtonRow {
      margin-bottom: 5px;
  }

  .calcbutton:hover {
      background-color: lightgray;
  }

  .calcbutton:active {
      background-color: darkgray;
  }

  .buttonSymbol:hover { 
      background-color: lightsalmon;
  }